.header{
    background-image: url("../../../images/banner-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  /* background-attachment: fixed;  */
  background-size: 100% 100%;
  min-height: 105vh;
}
.wave{
  overflow: hidden;
  animation: animate-bg linear 15s infinite;
  position: absolute;
  bottom: -150px;
  /* left: 0; */
  /* border-bottom: 15px solid white ; */
}

@keyframes animate-bg {
    from {background-position:-300px;}
    to{background-position: 100vw;}
}
.top-part{
    height:90vh;
   
}
.header-title{
  color:white;
}
.header-description{
  color:white;
}
