/* nav{
    height: 70px;
    position:sticky;
    z-index:  999;
} */
.navbar-toggler{
    float: right;
}
.nav-active{
    background-color: red !important;
    background: linear-gradient(90deg, #808CBC 0%,#541ed3 100%)
}

.nav-link{
    font-weight: bold;
    margin-bottom: 3px;
}
.nav-link:hover, .active{
    background: none !important;
    border-bottom: white 3px solid;
    margin-bottom: 0;
}
/* .active{
    background: none !important;
    border-bottom: #000000 3px solid;
    margin-bottom: 0;
} */

.navbar-toggler{
    outline: none !important;
}
.nav-link{
    color: white !important;
    /* background-color: red !important; */
}

.login{
    background-color: #808CBC;
    border-radius: 5px;
}